<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()}>

    <title>BEAM Demo · Soul of Erlang & Elixir</title>
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href={ExampleSystemWeb.Endpoint.static_path("/assets/app.css")}>
    <script defer type="text/javascript" src={ExampleSystemWeb.Endpoint.static_path("/assets/app.js")}></script>
  </head>

  <body>
    <div class="content">
      <%= @inner_content %>
    </div>
  </body>
</html>
