<div class="sumForm">
  <%= form_for(@data, "", [as: :data, "phx-submit": "submit"], fn f -> %>
    <%= number_input(f, :to, autofocus: true) %>
  <% end) %>
  <br/>

  <div>
    <%= for operation <- @operations do %>
      <div>∑(1..<%= operation.input %>) = <%= operation.result %></div>
    <% end %>
  </div>
</div>
